.header {
  background: url('../images/bg-pattern-intro.svg') no-repeat center,
    linear-gradient(to right bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  min-height: 70vh;
  border-bottom-left-radius: 10rem;

  &__hero {
    &--text {
      padding: 1.5rem;
      width: 100%;
      text-align: center;
      color: hsl(0, 0%, 100%);
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media only screen and(min-width: 25em) {
        flex-direction: row;
      }
    }
  }
}
