.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0.5rem 3rem;
  transition: all 0.3s ease-in;

  &--primary {
    border-radius: 10rem;
    color: hsl(0, 0%, 100%);
    background: hsl(356, 100%, 66%);

    @media only screen and(min-width: 50em) {
      color: hsl(356, 100%, 66%);
      background: hsl(0, 0%, 100%);

      &:hover {
        color: hsl(0, 0%, 100%);
        background: hsl(356, 100%, 66%);
      }
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &--login {
    color: hsl(0, 0%, 100%);
  }

  &--menu {
    border: none;
    background: transparent;
    justify-self: end;
  }

  &__cta {
    &--primary {
      border-radius: 10rem;
      color: hsl(356, 100%, 66%);
      background: hsl(0, 0%, 100%);
      border: solid 1px hsl(0, 0%, 100%);
      margin: 0 0 2rem;

      @media only screen and(min-width: 25em) {
        margin: 0 2rem 0 0;
      }

      &:hover {
        color: hsl(0, 0%, 100%);
        background: hsl(356, 100%, 66%);
        border: solid 1px hsl(356, 100%, 66%);
      }
    }

    &--secondary {
      border-radius: 10rem;
      color: hsl(0, 0%, 100%);
      border: solid 1px hsl(0, 0%, 100%);

      &:hover {
        color: hsl(356, 100%, 66%);
        background: hsl(0, 0%, 100%);
      }
    }
  }
}
